body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #f8f9fa;
  }
  .resume {
    max-width: 800px;
    margin: 50px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .profile-picture {
    width: 150px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .resume-item {
    margin-bottom: 30px;
  }
  .resume-item h3 {
    color: #007bff;
  }
  .resume-item ul {
    list-style-type: none;
    padding-left: 0;
  }
  .resume-item ul li {
    margin-bottom: 5px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
